@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600&display=swap');

.header {
    border: #041014 dotted 2px;
    background-color: #2596be;
    padding: 25px;

    display: flex;

    align-items: center;
    justify-content: space-between;

}

.logo {
    height: 25vh;
    font-family: MuseoModerno, sans-serif;
    color: #041014;
    letter-spacing: 0.5rem;
    font-weight: 600;
    font-size: 8rem;



}